LED.json
[{"id":"e1aef822.fc30a8","type":"tab","label":"LED","disabled":false,"info":""},{"id":"46c3d209.be8e2c","type":"inject","z":"e1aef822.fc30a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":140,"wires":[["f6dc781f.92b9e8"]]},{"id":"f6dc781f.92b9e8","type":"function","z":"e1aef822.fc30a8","name":"playload","func":"msg.headers={\n    deviceKey:\"SlLJ027BYcELXW03\"\n    };\n    \nreturn msg;","outputs":1,"noerr":0,"x":400,"y":260,"wires":[["a4f51db5.2c402"]]},{"id":"a4f51db5.2c402","type":"http request","z":"e1aef822.fc30a8","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/D6pXRziZ/datachannels/LEDControl/datapoints.csv","tls":"","persist":false,"proxy":"","authType":"","x":650,"y":260,"wires":[["dc992f12.912ba","82236321.4dd02"]]},{"id":"dc992f12.912ba","type":"http response","z":"e1aef822.fc30a8","name":"","statusCode":"","headers":{},"x":880,"y":280,"wires":[]},{"id":"82236321.4dd02","type":"debug","z":"e1aef822.fc30a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":870,"y":380,"wires":[]}]